{% extends 'hero/index.html' %}

{% block content %}
<div style="text-align: center; margin: 25px;">
    {% if request.user.is_authenticated %}
    {% if request.user == article.author %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ article.title }}"?</p>
        <input type="submit" value="Confirm">
    </form>
    {% else %}
    <h2>You must be the author of this article to delete it.</h2>
    {% endif %}
    {% else %}
    <h2>You must be logged in to delete articles.</h2>
    {% endif %}
</div>
{% endblock %}